::selection {
    background: #F5DF4D;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
#fullscreen_bg video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
#site {
    margin-left: 6rem;
    padding-left: 1rem;
}
#masthead {
    padding: 0;
    background-color: #000;
    height: 100%;
    width: 6rem;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}
nav {
    position: relative;
    top: 0;
    transform: rotate(90deg);
}
nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    margin: 0;
    grid-gap: 1rem;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-align: left;
    user-select: none;
}
nav li {
    margin: 0;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
nav a:hover {
    color: #F5DF4D;
}
nav i {
    transform: rotate(-90deg);

}
#content {
    margin-right: 8rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
h1 {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    line-height: 6rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: -2px;
    pointer-events: none;
    user-select: none;
}
#copy {
    margin-top: 1rem;
}
.heading {
    display: block;
    color: #000;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
}
.heading2 {
    display: block;
    width: 100%;
    text-align: left;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.image1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
footer {
    padding: 2rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
footer a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
footer a:hover {
    color: #F5DF4D;
}
@media only screen and (max-width: 1000px) {
    #site {
        margin-left: 5rem;
    }
    #masthead {
        width: 5rem;
    }
    #content {
        margin-right: 3rem;
    }
    nav ul {
        font-size: 3rem;
    }
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .heading {
        font-size: 2rem;
        line-height: 2rem;
    }
    .heading2 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    #site {
        padding-left: 0;
        margin-left: 4rem;
    }
    #masthead {
        width: 4rem;
    }
    nav ul {
        font-size: 2rem;
    }
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .heading {
        font-size: 1.5rem;
    }
    .heading2 {
        font-size: 0.8rem;
    }
    #content {
        margin-right: 2rem;
    }
    footer, p {
        font-size: 0.8rem;
    }
    .image1 img {
        width: 100%;
    }
}