body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#site {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    grid-template-areas:
        "mst cnt"
        "mst ft";
}
#masthead {
    padding: 0;
    padding-right: 2rem;
    background-color: #000;
    grid-area: mst;
    height: 100%;
}
nav {
    margin-left: 1rem;
    margin-right: 1rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}
nav li {
    margin: 0.5rem 0;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
nav a:hover {
    color: #F5DF4D;
}
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    font-size: 2.5rem;
    color: #fff;
    margin: 0 1rem 1rem 1rem;
    padding: 0 2rem 0 1rem;
    width: 100%;
}
#contact a {
    color: #fff;
}
#contact a:hover {
    color: #F5DF4D;
}
#content {
    grid-area: cnt;

}
#identity {
    width: 100%;
    margin-top: 2rem;
}
#copy {
    margin-top: 1rem;
}
.heading {
    display: block;
    color: #000;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}
.heading2 {
    display: block;
    width: 100%;
    text-align: right;
    color: #000;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}
.image1 img {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer {
    grid-area: ft;
    padding: 2rem;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
footer a:hover {
    color: #F5DF4D;
}
