#copy_resume {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2.5rem;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
}

@media only screen and (max-width: 768px) {
    #copy_resume {
        display: block;
        margin-top: 2rem;
    }
}